<div class="face">
    <header>
        <a class="forkme" href="https://github.com/Bacon2D/Bacon2D">Fork me on GitHub</a>
        <div class="logo">
            <div class="eyes">
                <div class="eye-a-a"></div>
                <div class="eye-a-b"></div>
                <div class="eye-b-a"></div>
                <div class="eye-b-b"></div>
            </div>
            <div class="nose">
                <div class="nostril-a"></div>
                <div class="nostril-b"></div>
            </div>
        </div>
        <h1 class="title">Bacon2D</h1>

        <h2 class="tagline">2D Game Engine for QML</h2>

    </header>
</div>
