<head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Bacon2d.github.io : " />

    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/normalize.css">
    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/type.css">
    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/layout.css">
    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/navbar.css">
    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/bacon2d.css">

    <title>Bacon2D</title>
</head>
