/* Begin Navigation Bar Styling */
ul#nav {
  width: 640px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0px;
  list-style: none;
  overflow: hidden;
  zoom: 1;
  background-color: ##f2f2f2;
}
ul#nav li {
  float: left;
}
ul#nav li:first-child a {
   border-left: none;
}

ul#nav a {
  width: 8em;
  display: block;
  border-left: 1px solid #ccc;
  padding: 5px;
  margin-right: 0px;
  text-decoration: none;
  color: #069;
  text-align: center;
}
ul#nav a:hover {
  background-color: #fff;
  color: #007edf;
}

/* End navigation bar styling. */
