
.navigation {
    margin: 0 auto;
}

.navigation-items {
    list-style: none;
    margin: 0 auto;
    background: #eee;
}

.navigation-items li {
}

.navigation-items a {
    padding: 20px;
    display: block;
    text-transform: uppercase;
    text-align: left;
    text-decoration: none;
    color: #000;
    font-weight: 300
}

.navigation-items a:hover {
    color: #FF5555;
    text-decoration: underline;
}

/* Media to Large Device Styles */
@media screen and (min-width: 992px) {

    .navigation {

    }

    .navigation-items li {
        display: inline-block;
        border: none;
    }

    .navigation-items a {
        font-size: 25px;
        border-bottom: none;
        display: inline-block;
    }

}
