<!DOCTYPE html>
<html>
{% include header.html %}
<body>
    <div class="wrap">

        {% include face.html %}

        <div class="main">

            {% if page.feature %}
            <section class="feature">
                {{ page.feature }}
            </section>
            {% endif %}

            <section class="content">
                <div class="content-inner">
                    {{ content }}
                </div>
            </section>
        </div>

        {% include footer.html %}
    </div>
</body>
</html>
