<!DOCTYPE html>
<html>
<head>
{% include header.html %}
<link rel="stylesheet" type="text/css" media="screen" href="{{site.baseurl}}/stylesheets/docs.css">
</head>
<body>
    <div class="wrap">

        {% include face.html %}

        <div class="main">
            <section class="content">
                <div class="content-inner content-docs">
                    {{ content }}
                </div>
            </section>
        </div>

        {% include footer.html %}
    </div>
</body>
</html>
